<link rel="stylesheet" href="/css/style.css">
  <footer class="footer">
    <div class="footer-container">
      <p>&copy; <%= new Date().getFullYear() %> <strong>My Blog</strong>. All rights reserved.</p>
      <nav class="social-links" aria-label="Social media">
        <ul>
          <li><a href="#" title="Follow us on Twitter">Twitter</a></li>
          <li><a href="#" title="Follow us on Facebook">Facebook</a></li>
          <li><a href="#" title="Follow us on Instagram">Instagram</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
